body{
    padding: 0;
    margin: 0;
}

/*Navegador*/

header{
    position: relative;
    z-index: 100;
}
nav{
    margin: 0;
    display: flex;
    flex-direction: column;
}
#Nav-Sup{
    padding: 0.5vh 1vw 0.5vh 0.5vw;
    font-size: 0.8rem;
    background-color:#b5822b;
    color: #e9ddca;
    font-family: "didact-gothic", sans-serif;
    font-weight: lighter;
    text-align: right;
    box-shadow: 0 8px 10px 5px rgba(107, 107, 107, 0.201);
    /*box-shadow: 3px 4px 5px 6px #000;*/
}
#Nav-Sup p{
    margin: 0;
}
#Nav-Centro{
    width: 100%;
    height: 10vh;
    background-color: #b5822b;
    background-image: url(../img/background-nav.jpg);
}
#Nav-Inf{
    height: 2rem;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, white,#FFF7EC, #FFF7EC);
    box-shadow: 0 8px 10px 6px rgba(107, 107, 107, 0.201);
}
#Nav-Inf-Iz{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

#Nav-Inf-De{
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 5vhpx;        
    gap: 15px; 
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #6e3b0c;
}
#Nav-Inf-De a{
    font-size: 0.8rem;
    text-decoration: none;
    color: inherit;
}
#Nav-Inf h2{
    font-size: 1.25rem;
    margin:0;
    font-family: "Cinzel", sans-serif;
    background: radial-gradient(circle at center, #cea243,#976114);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(107, 107, 107, 0.4);
}
#Nav-Inf img{
    border-radius: 50%;
    padding: 0;
    margin:0;
    height: 7rem;
    box-shadow: 0px 0px 10px 2px rgba(77, 77, 77, 0.3);
}

/*Body*/

body{
    background: radial-gradient(circle at center, #93672a,#cf9b45, #ffcd67);
    font-family: "Open Sans", sans-serif;
}

#Main-Introduccion{
    margin: 0 auto;
    padding: 0;
    background-image: url(../img/Fondo-Introduccion.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
#Contenedor-Biografia{
    position: absolute;
    top: 40%;
    width: 50%;
    padding-left: 10%;
}
#Main-Introduccion #WhiteBlob{
    height: 50%;
    width: 85%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.Intro-Img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(77, 77, 77, 0.3);
}
#Img1{
    position: absolute;
    top: 90%;
    left: 20%;
}

#Img2{
    z-index: 100;
    position: absolute;
    top: 120%;
    left: 60%;
}

#Img3{
    z-index: 100;
    position: absolute;
    top: 180%;
    left: 30%;
}

#Main-Medio{
    padding: 5%;
    margin: 20%;
    width: 50vw;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40%;
}

#Main-Medio h3{
    color: #6e3b0c;
    size: 4rem;
    font-weight: bold;
}
#MisionVision{
    display: grid;
    grid-column: 100px;
    grid-row: 100px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}



.MV-P{
    size: 2rem;
    color: #6e3b0c;
}
.MV-Img{
    height: 20vh;
    width: auto;
}

#Mision{
    grid-column:1/2;
    grid-row:1/2;
}
#M-Img{
    grid-column:2/3;
    grid-row:1/2;
}
#V-Img{
    grid-column:1/2;
    grid-row:2/3;
}
#Vision{
    grid-column:2/3;
    grid-row:2/3;
}


/*Maps img que se mueve*/

#MapsUbi{
    width: 50vw;
}

.image-viewport {
    width: 500px;
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: crosshair;
}

.image-viewport img {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    transition: transform 0.05s ease-out;
}

#Main-Ultimo{
    margin-right: 10%;
    background-image: url(../img/WhiteBlob2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 20% 50% 10%;
}

#Main-Ultimo h3{
    font-size: 2rem;
}

.F-Img{
    height: 10%;
    width: auto;
}

/*Footer*/

footer{
    z-index: 100;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
}